[submodule "echo-bell"]
	path = echo-bell
	url = gh:emacsmirror/echo-bell.git
[submodule "thingatpt+"]
	path = thingatpt+
	url = gh:emacsmirror/thingatpt-plus.git
[submodule "pp+"]
	path = pp+
	url = gh:emacsmirror/pp-plus.git
[submodule "mb-depth+"]
	path = mb-depth+
	url = gh:emacsmirror/mb-depth-plus.git
[submodule "info+"]
	path = info+
	url = gh:emacsmirror/info-plus.git
[submodule "icomplete+"]
	path = icomplete+
	url = gh:emacsmirror/icomplete-plus.git
[submodule "icicles"]
	path = icicles
	url = gh:emacsmirror/icicles.git
[submodule "frame-cmds"]
	path = frame-cmds
	url = gh:emacsmirror/frame-cmds.git
[submodule "doremi-mac"]
	path = doremi-mac
	url = gh:emacsmirror/doremi-mac.git
[submodule "doremi-frm"]
	path = doremi-frm
	url = gh:emacsmirror/doremi-frm.git
[submodule "doremi-cmd"]
	path = doremi-cmd
	url = gh:emacsmirror/doremi-cmd.git
[submodule "dired+"]
	path = dired+
	url = gh:emacsmirror/dired-plus.git
[submodule "bookmark+"]
	path = bookmark+
	url = gh:emacsmirror/bookmark-plus.git
[submodule "hl-line-plus"]
	path = hl-line-plus
	url = gh:emacsmirror/hl-line-plus.git
[submodule "col-highlight"]
	path = col-highlight
	url = gh:emacsmirror/col-highlight.git
[submodule "vline"]
	path = vline
	url = gh:emacsmirror/vline.git
[submodule "caffe-mode"]
	path = caffe-mode
	url = gh:reggies/caffe-mode.git
[submodule "frame-fns"]
	path = frame-fns
	url = gh:emacsmirror/frame-fns.git
[submodule "apropos-fn-var"]
	path = apropos-fn-var
	url = gh:emacsmirror/apropos-fn-var.git
[submodule "crosshairs"]
	path = crosshairs
	url = gh:emacsmirror/crosshairs.git
[submodule "treesit-fold"]
	path = treesit-fold
	url = gh:emacs-tree-sitter/treesit-fold.git
	branch = master
