[submodule "echo-bell"]
	path = echo-bell
	url = https://github.com/emacsmirror/echo-bell
[submodule "thingatpt+"]
	path = thingatpt+
	url = https://github.com/emacsmirror/thingatpt-plus
[submodule "pp+"]
	path = pp+
	url = https://github.com/emacsmirror/pp-plus
[submodule "mb-depth+"]
	path = mb-depth+
	url = https://github.com/emacsmirror/mb-depth-plus
[submodule "info+"]
	path = info+
	url = https://github.com/emacsmirror/info-plus
[submodule "icomplete+"]
	path = icomplete+
	url = https://github.com/emacsmirror/icomplete-plus
[submodule "icicles"]
	path = icicles
	url = https://github.com/emacsmirror/icicles
[submodule "frame-cmds"]
	path = frame-cmds
	url = https://github.com/emacsmirror/frame-cmds
[submodule "doremi-mac"]
	path = doremi-mac
	url = https://github.com/emacsmirror/doremi-mac
[submodule "doremi-frm"]
	path = doremi-frm
	url = https://github.com/emacsmirror/doremi-frm
[submodule "doremi-cmd"]
	path = doremi-cmd
	url = https://github.com/emacsmirror/doremi-cmd
[submodule "dired+"]
	path = dired+
	url = https://github.com/emacsmirror/dired-plus
[submodule "bookmark+"]
	path = bookmark+
	url = https://github.com/emacsmirror/bookmark-plus
[submodule "hl-line-plus"]
	path = hl-line-plus
	url = https://github.com/emacsmirror/hl-line-plus.git
[submodule "col-highlight"]
	path = col-highlight
	url = https://github.com/emacsmirror/col-highlight.git
[submodule "vline"]
	path = vline
	url = https://github.com/emacsmirror/vline.git
[submodule "caffe-mode"]
	path = caffe-mode
	url = https://github.com/reggies/caffe-mode.git
[submodule "frame-fns"]
	path = frame-fns
	url = https://github.com/emacsmirror/frame-fns.git
[submodule "apropos-fn-var"]
	path = apropos-fn-var
	url = https://github.com/emacsmirror/apropos-fn-var
